*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Shippori Mincho', serif;
  color:cadetblue;
  margin: 10% 15% 0 15%;
  font-size: 1.1rem;
}
.js-header{
  position: fixed;top: 0;left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
  font-weight: bold;
  background: black;
  padding:.5rem;
}
section h2{
  font-size:1.7rem;
  text-align: center;
  margin-bottom: .5rem;
  background:black;
}
.js-project1{
  min-height: 70vh;
  box-shadow: 6px 6px 3px #ddd;
}
.js-project1 div{
display: flex;
flex-direction: column;
align-items: center;
background: powderblue;
margin-top: 3rem;
}
.js-project1 div input,.js-project1 button{
  border: none;
  outline: none;
  padding: .5rem;
  margin: .5rem;
  border-radius: .4rem;
  background-color: lightgreen;
  box-shadow: 2px 2px 2px black;
}
.js-project1 ::placeholder{
  color:black;
  font-size: .9rem;
  text-align:center;
}
.js-project2{
  margin-top: 2rem;
  min-height: 60vh;
  box-shadow: 6px 6px 3px #ddd;
}
.js-project2 div{
  text-align: center;
  background: powderblue;
  margin-top: 2rem;
  min-height: 30vh;
}
.js-project2 div input,.js-project2 button{
  border: none;
  outline: none;
  padding: .5rem;
  margin: .5rem 0 .5rem 0;
  border-radius: .4rem;
  background-color: lightgreen;
  box-shadow: 2px 2px 2px black;
}
.js-project2 ::placeholder{
  color:black;
  font-size: .9rem;
  text-align:left;
}
.js-project3{
  margin-top: 2rem;
  min-height: 90vh;
  box-shadow: 6px 6px 3px #ddd;
}
.js-project3 img{
  width: 100%;
  min-height: 65vh;
  margin: 1.5rem 0 0 0;
  border-radius: .4rem;
}
.js-project4{
  margin-top: 2rem;
  min-height: 90vh;
  box-shadow: 6px 6px 3px #ddd;
}

@media screen and (max-width:629px){
  body{
    margin: 20% 3% 0 3%;
  }
  .js-header{
    font-size: 1.4rem;
  }
}
